* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: Roboto, arial, sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1d2937;
}

nav {
  display: flex;
  flex: 1;
  color: #f9faf8;
  align-items: center;
  padding: 0 20%;
  margin-bottom: 16px;
}

.nav.logo {
  margin-right: auto;
  font-size: 24px;
}

.nav.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 0;
  margin-left: 32px;
}

.hero {
  display: flex;
  padding: 0 10% 0 10%;
  gap: 16px;
  max-width: 100%;
  justify-content: center;
  padding: 100px 20%;
}

.hero h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
  margin: 0 auto;
}

.secondary {
  color: #e5e7eb;
  opacity: 0.7;
}

.hero .block {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
}

.hero img{
  object-fit:cover;
  width: 100%;
  max-height: 350px;

}

.signup {
  background-color: #3882f6;
  border: solid #3882f6;
  border-radius: 4px;
  font-weight: bold;
  padding: 4px 24px;
  margin: 0;
  width: 124px;
  color: #e5e7eb;
  font-size: 18px;
}

.secondary, p {
  margin: 8px 0 8px 0;
}