* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: Roboto, arial, sans-serif;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1d2937;
}

nav {
  display: flex;
  flex: 1;
  color: #f9faf8;
  align-items: center;
  padding: 0 20%;
}

.nav.logo {
  margin-right: auto;
  font-size: 24px;
}

.nav.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 0;
  margin-left: 32px;
}

.hero {
  display: flex;
  padding: 0 10% 0 10%;
  gap: 16px;
  max-width: 100%;
  justify-content: center;
  padding: 120px 20%;
}

.hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0 auto;
}

.hero h1 span {
  background: linear-gradient(to right, rgb(252, 194, 86) , rgb(255, 255, 93), rgb(98, 212, 98), rgb(159, 249, 249), rgb(91, 91, 240), rgb(242, 148, 242));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondary {
  color: #e5e7eb;
  opacity: 0.8;
}

.hero .block {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 16px;
}

.hero img{
  object-fit:cover;
  width: 100%;
  max-height: 350px;

}

.signup {
  background-color: #3882f6;
  border: solid #3882f6;
  border-radius: 8px;
  font-weight: bold;
  padding: 4px 24px;
  margin-top: 16px;
  width: 124px;
  color: #e5e7eb;
  font-size: 16px;
}

.secondary, p {
  margin: 8px 0 8px 0;
}

.favourites {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 16px 20%;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  object-fit: cover;
  width: 192px;
  height: 192px;
  margin: 16px;
  border:solid 5px#3882f6;
  border-radius: 16px;
}

.favourites h2 {
  color: #1f2937;
  font-weight: 800;
  align-self: center;
  padding: 8px 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.container p{
  color: #1f2937;
  margin-bottom: 16px;
  text-align: center;
  width: 192px;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.quote .line {
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  font-size: 36px;
}

.quote .name {
  margin-left: 16px;
}

.action {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.highlight {
  padding: 0 10% 0 10%;
  gap: 80px;
  max-width: 80%;
  background-color: #3882f6;
  border: solid #3882f6;
  border-radius: 8px;
  padding: 24px 64px;
  margin: 64px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  color: #e5e7eb;
  padding-right: 16px;
}

.text .top {
  font-weight: bold;
}

.text .bottom{
  font-weight: 300;
}

.highlight .signup {
  background-color: #3882f6;
  border: solid #e5e7eb;
  border-radius: 8px;
  font-weight: bold;
  padding: 0;
  margin-top: 10px;
  width: 120px;
  height: 32px;
  color: #e5e7eb;
  font-size: 14px;
  min-width: 80px;
}